<!DOCTYPE html>
<html lang="en">
  <head>
  {{>head}}
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
    {{>nav}}

    </nav>


  {{{body}}}




    {{>javascripts}}
  </body>
</html>
