
<div class="row">
	<div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
		<h1>User Profile</h1>
		<h4>Welcome {{user.profile.name}}</h4>
		<h4>Email: {{user.email}}</h4>
		<h4>Address: {{user.address}}</h4>

		<a href="/user/edit-profile" class="btn btn-primary btn-lg">Edit Profile</a>




	</div>
</div>
